@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:wght@300;600&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
.projectcontainer{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 200px 0;
    align-items: center;
}
.projectcontainer > h1{
    padding-bottom: 15px;
}
.projectcontainer > p{
    padding-bottom: 20px;
}
.projectcontainer_projects{
    display: flex;
    width: 60vh;
    margin-top: 50px;
    flex-wrap: wrap;
}
.projects>img{
    width:250px;
    height:179px;
    }
    